html, body {
    height: 100%; /* root의 부모들의 높이를 100%로 높이기 */
    margin: 0;
}

#root {
    height: 100%; /* vh를 사용해 화면에 맞춰서 높이를 주게 되면, 화면에 맞게 크기가 달라지니까 나중에 부모와의 크기가 안 맞게 될 가능성이 있음 */
    display: grid;
    grid-template-columns: 1fr 250px 750px 1fr;
    grid-template-rows: 70px 171px 1fr 100px;
    grid-template-areas:
    "header header header header"
    "visual visual visual visual"
    "x_aside aside main x_main"
    "footer footer footer footer";
}

.box1 {
    background-color: red;
    grid-area: header;
   
}

.box2 {
    background-color: gold;
    grid-area: visual;

}

.box3 {
    background-color: blue;
    grid-area: aside;
}

.box4 {
    background-color: green;
    grid-area: main;
}

.box5 {
    background-color: lightcoral;
    grid-area: footer;
}