html{
    height: 100%;
    margin: 0px;
}
body{
    height: 100%;
    font-family: "留묒� 怨좊뵓","怨좊뵓",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
h1,ul,ol{
    margin: 0;
    padding: 0;
}
a{
    color: initial;
    text-decoration: initial;
}
ul,ol{
    list-style: none;
    padding: 0;
    /* margin-top: 16px; */
}

.img{
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
}

.d-none{
    display: none !important;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}

:root{
    --shadow : 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
}
/*-----------------*/
.float-content{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height:inherit;
}
/*-----------------*/

#root{
    height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header" 
    "body body"
    "footer footer";
}

#root>#header{
    width: 100%;
    height: 70px;
    grid-area: header;
    position :fixed;
    background-color: white;
    overflow: hidden;
    display: flex;
}

#root>#footer{
    background-color: #767676;
    grid-area: footer;
}

#body{
    grid-area: body;
    
}
    #body .float-content{
        
        height: 100%;
        display: grid;  
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "aside main";
    }

#aside{
    grid-area: aside;
    border-right: solid #e4e6e8 1px;
}
#main{  
    grid-area: main;
    padding: 20PX;
    margin: 10px;
    
}


/*--------header-design----------*/

#root>#header{ 
    border-bottom: solid 2px orange;
    box-shadow: var(--shadow);

}

#header>.float-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo-title-container{
    display: inline-block;
    width: 120px;
    height: 35px;
    min-height: inherit;
}
    .logo-title-container>img{
        width: 120px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

.main-menu, .member-menu{
        font-size: 14px;
        font-weight: 500;
        width: 500px;  
        display: inline-block;
        height: 30px;
        padding-top: 12px;
    }
    
    .main-menu>ul, .member-menu>ul{ 
        height: 100%;
        width: 80%;
        --margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    
    .main-menu>ul>li>a, .member-menu a{
        display: inline-block;
        color: #4B4B4B;   
        line-height: 30px;   
        cursor: pointer;
        transition: 200ms;
        padding: 0px 16px;
        }

    .main-menu>ul>li>a:hover{
        background-color: #eff0f1;
        color: black;
        border-radius: 15px;
    } 

    .member-menu{
        width: 200px;
    }

    .member-menu a{
        padding: 0;
    }
    .member-menu a:hover{
        color: black;
    }



.aside-menu{
    
    margin-right: 0px;
    margin-top: 70px;
    
}
.aside-menu>ul{
    padding-top: 20px;
}
.aside-menu>ul>li{
    margin-bottom: 14px;
    margin-left: 5px;
    height: 33px;
}

.aside-menu a{
    color: #4B4B4B;
    font-weight: 500;
    line-height: 33px;
    display: flex;
    justify-content: flex-start; 
    transition: 200ms; 
    padding-left: 4px;
}

.current-page, .aside-menu a:hover{
    background-color: #eff0f1;
    border-right: 5px orange solid;
    border-radius: 3px;
}

/* ------------main-------------------- */
    /* -------------------------------- */
    #main{
        grid-area: main;
        display: flex;
        align-items: center;
    }
    
/*         .petphoto{
            display: flex;
            position: relative;
        }
    
        .petphoto ol{
            display: flex;
            flex-direction: column;
            position: absolute;
            margin: 0;
    
            top: -5vh;
            left: -43vh;
    
        }
    
        .petphoto li{
            margin-top: 7px;
            margin-bottom: 7px;
        }
    
        .petphoto li,
        .petphoto a{
            height: 80px;
            width: 80px;
            border-radius: 7px;
        }
    
        .petphoto a:hover,
        .petphoto a.current{
            opacity: 50%;
        }
    
    
        .pet1{
            background-image: url("../../images/pet1.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    
        .pet2{
            background-image: url("../../images/pet2.png");
            background-size: cover;
        }
    
        .pet3{
            background-image: url("../../images/pet3.png");
            background-size: cover;
        }
    
        .pet4{
            background-image: url("../../images/pet4.jpg");
            background-size: cover;
        }
     */
    
    
        /* -------------------------------- */
    
        .form{
            border: none;
            padding: 0;
            /* margin-top: 30px; */
            height: 60vh;
            width: 100%;
            
            display: flex;
            justify-content: center;
        }
    
            .weight-input{
                background-color: antiquewhite;
                height: 100%;
                width: 100vh;
                font-family: sans-serif;
                font-weight: bold;
                border-radius: 10px;
                
    
                display: flex;
                position: relative;
                flex-direction: column;
    
                align-items: center;
                justify-content: space-evenly;
            }
    
                    .record{
                        padding: 7px 7px 7px 7px;
                        font-size: 20px;
                        color: rgb(82, 82, 82);
                        background-color: rgb(255, 226, 188);
                        background-size: 5vh;
                        border-radius: 10px;
    
                        position: absolute;
                        top: 4vh;
                        left: 49vh;
                    }
    
    
                    .weight-input-container input{
                        position: absolute;
                        right: 17vh;
                    }
    
                        .input-date{
                            top:13.3vh;
                        }
    
                        .input-time{
                            top:25vh;
                        }
    
                        .input-weight{
                            top:37vh
                        }
    
    
                    .weight-input label{
                        position: absolute;
                        left: 26vh;
                    }
    
                        .weight-input .date{
                            height: 35px;
                            width: 35px;
                            background-image: url("../../images/icon-calendar.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
    
                            top: 14.5vh;
                        }
    
                        .weight-input .time{
                            height: 35px;
                            width: 35px;
                            background-image: url("../../images/icon-time.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
    
                            top: 26vh;
                        }
                        .weight-input .weight{
                            height: 35px;
                            width: 35px;
                            background-image: url("../../images/icon-weight.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
    
                            top: 38vh;
                        }
    
                    .weight-input input{
                        height: 7vh;
                        width: 50vh;
                        border: 0;
                        border-radius: 7px;
                    }
    
    
                    .weight-input .submit{
                        height: 7vh;
                        width: 20vh;
                        border: 0;
                        border-radius: 7px;
    
                        margin: 0;
                        border: 0;
                        background-color: rgb(255, 209, 124);
                        font-family: sans-serif;
                        font-weight: bold;
                        font-size: 15px;
    
                        position: absolute;
                        left: 45vh;
                    }
    
                    .weight-input .submit:hover{
                        opacity: 50%;
                    }


@media screen and (max-width:500px){
    #root{
        grid-template-columns: 1fr;
        grid-template-rows: 55px 1fr 70px;
        grid-template-areas: 
        "header"
        
        "body"
        "footer";
    }
    #body .float-content{
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "main";
    }
    #root>#header{
        width: 100%;
        height: 55px;
        
    }
    .aside-menu{
        margin: 0;
    }
} 