@import url(popup.css);

html{
    height: 100%;
    margin: 0px;
}
body{
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
}
h1,ul,ol{
    margin: 0;
    padding: 0;
}
a{
    color: initial;
    text-decoration: initial;
}
ul,ol{
    list-style: none;
}
.d-none{
    display: none !important;
}
.flex,
.dog-breed-gender ul,
.container,
.box,
.user,
.user .userinfo,
.profile-box{
    display: flex;
}
.align-center{
    align-items: center;
}

:root{
    --shadow : 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
}
/*-----------------*/
.float-content{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height:inherit;
}
/*-----------------*/
/*-----------------*/
header .float-content{
    width:1200px;/*�뜝�럡�꼸占쎈쑏熬곥룊占싼띿삕占쎌젧 max-width�뜝�럥�뱺�뜝�럡�맋�솻洹⑥삕�뇦猿볦삕;*/
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height:inherit;
    /* opacity: 0.7;     */
    /* height: inherit; */
}
/*-----------------*/

#root{
    height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header" 
    "body body"
    "footer footer";
}

#root>#header{
    width: 100%;
    height: 70px;
    grid-area: header;
    position :fixed;
    background-color: white;
    overflow: hidden;
    display: flex;
    z-index: 999;
}

#root>#footer{
    background-color: #767676;
    grid-area: footer;
}

#body{
    grid-area: body;
    
}
    #body .float-content{
        
        height: 100%;
        display: grid;  
        width: 1200px;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "aside main";
    }

#aside{
    grid-area: aside;
    border-right: solid #e4e6e8 1px;
    /* margin-top: 10PX;
    background-color: white;
    position: fixed;
    width: 200px; */    
}
#main{  
    grid-area: main;
    padding: 20PX;
    margin: 10px;
    height: auto;
    
}


/*--------header-design----------*/

#root>#header{ 
    border-bottom: solid 2px orange;
    box-shadow: var(--shadow);

}

#header>.float-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo-title-container{
    display: inline-block;
    width: 120px;
    height: 35px;
    min-height: inherit;
}
    .logo-title-container>img{
        width: 120px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

.main-menu, .member-menu{
        font-size: 14px;
        font-weight: 500;
        width: 500px;  
        display: inline-block;
        height: 30px;
        padding-top: 12px;
    }
    
    .main-menu>ul, .member-menu>ul{ 
        height: 100%;
        width: 80%;
        --margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .option span,  
    .main-menu>ul>li>a, .member-menu a{
        display: inline-block;
        color: #4B4B4B;   
        line-height: 30px;   
        cursor: pointer;
        transition: 200ms;
        padding: 0px 16px;
        }

    .option span,    
    .main-menu>ul>li>a:hover{
        background-color: #eff0f1;
        color: black;
        border-radius: 15px;
    } 

    .member-menu{
        width: 200px;
    }

    .member-menu a{
        padding: 0;
    }
    .member-menu a:hover{
        color: black;
    }



.aside-menu{
    
    margin-right: 0px;
    margin-top: 70px;
    
}
.aside-menu>ul{
    padding-top: 20px;
}
.aside-menu>ul>li{
    margin-bottom: 14px;
    margin-left: 5px;
    height: 33px;
}

.aside-menu a{
    color: #4B4B4B;
    font-weight: 500;
    line-height: 33px;
    display: flex;
    justify-content: flex-start; 
    transition: 200ms; 
    padding-left: 4px;
}

.current-page, .aside-menu a:hover{
    background-color: #eff0f1;
    border-right: 5px orange solid;
    border-radius: 3px;
}


@media screen and (max-width:500px){
    #root{
        grid-template-columns: 1fr;
        grid-template-rows: 55px 1fr 70px;
        grid-template-areas: 
        "header"
        
        "body"
        "footer";
    }
    #body .float-content{
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "main";
    }
    #root>#header{
        width: 100%;
        height: 55px;
        
    }
    .aside-menu{
        margin: 0;
    }
} 
/* ------------------main-------------------- */
.fas,
.far{
    line-height: 200%;
    margin-right: 10px;
}
#content{
    position: relative;
    min-height: 700px;
}
.mypet-section{
    min-height: 700px;
}

.container{
    position: relative;
    top: 10px;
    height: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content : center;
    overflow-wrap: break-word;
    }
.pet-list{
	display: flex;
}
    .subject{
        height: 50px;
        text-align: center;
        width: 100%;
    }
    .subject h1{
        color: orange;
        font-size: 22px;
        display: inline-block;
        border-bottom: 4px solid;
        padding-bottom: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        
      }

    .box{
        flex-direction: column;
        margin: 1rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 20px 0px;
        border-radius: 4px;
        background: white;
        width: 17rem;
        height: 22.5rem;

    }
    .inner-section .img-box img:hover {
        transform: scale(1.15);
        transition: .4s ease;

    }
    .box .img-box {
        width: 100%;
        position: relative;
        padding-top:92%;
        overflow: hidden;
    }
    
    .img-box img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: block;

        transform: scale(1);
        transition: .3s;
    }
    
    .user {
        padding: 4px 10px;
        border-top: 1px solid rgb(248, 249, 250);
        font-size: 0.75rem;
        line-height: 1.5;
        justify-content: space-between;
    }
    .user .userinfo {
        text-decoration: none;
        color: inherit;
        align-items: center;
    }
    .user .userinfo img {
        object-fit: cover;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        margin-right: 0.5rem;
    }
    .diary-content h4{
        text-align: center;
        margin: 17px 1px;
    }
    .diary-content .detail-btn{
        cursor: pointer;
        margin-left: 25%;
    }
    .button {
        display: inline-block;
    
        border: 2px solid orange;
        border-radius: 10px;
        color: orange;
        padding: 5px 30px;
        text-decoration: none;
        transition: 200ms ease-in-out;
        background-color: white;
    
      }
    
      .button:hover, .button:focus{
        background-color: orange;
        color: white;
      }
      .big{
        padding: 10px 50px;
        margin-top: 28px;
        cursor: pointer;
      }
    .add{
        display: block;
        position: relative;
        left: 38%;
    } 
.none-list img{
  width: 300px;
}
.none-list p{
  color: gray;
  font-size: 15px;
      text-align: center;
    font-weight: bold;
}
.necessary{
    color: red;

}

