html, body {
    height: 100%;
    margin: 0;
}

/* a 태그 리셋 */
a {
    color: initial;
    text-decoration: initial;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------------- */

.d-none {
    display: none !important;
}

/* --------------------------------------------------------------- */

.button,
.icon,
.img {
    display: inline-block;
    text-indent: -999px; /* 아예 왼쪽으로 들여쓰기 해서 이미지의 너비가 오른쪽으로 커지더라도 글자가 보이지 않게 만들기 */
    overflow: hidden; /* 왼쪽 또는 오른쪽으로 overflow된 요소가 있으면 보이지 않게 하기 */
}

.img-notepubs {
    background: url(../images/notepubs.png) no-repeat;
    width: 180px;
    height: 50px;
}

.img-namoolab {
    background: url(../images/namoolab.png) no-repeat;
    width: 180px;
    height: 50px;
}

/* --------------------------------------------------------------- */

.float-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: inherit;
    opacity: 0.7;    
    /* height: inherit; */
}

#root {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 205px 755px 1fr;
    grid-template-rows: 70px 171px 1fr 100px;
    grid-template-areas: 
    "header header header header"
    "visual visual visual visual"
    "body body body body"
    "footer footer footer footer";
}

#header {
    background-color: white;
    grid-area: header;
}

#visual {
    border-top: 3px solid #8CBA34;
    background: #313131 url("../images/bg-visual.png") no-repeat center;
    grid-area: visual;
}

    #visual>.float-content {
        background: url("../images/customer/visual.png") no-repeat center;
    }

#body {
    border-top: 5px solid #8CBA34;
    margin-top: 1px;
    grid-area: body;
}

    #body>.float-content {
        display: grid; /* 해당 설정만 했을 때는 자동적으로 body가 네 개의 영역으로 나눠짐 */
        grid-template-columns: 1fr 205px 755px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". aside main .";

        background: url("../images/bg-body.png") repeat-y;
    }

#aside {
    grid-area: aside;
    background: url("../images/bg-aside-title.png") no-repeat;
}

#main {
    grid-area: main;
}

#footer {
    background-color: #313131;
    grid-area: footer;
}

/* @media screen and (min-width: 500px) {
   
}  */

@media screen and (max-width: 960px) {
    .float-content {
        width: 100%;
    }

    #root {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "visual"
        "body"
        "footer";
    }
    
    #body {
        grid-template-columns: 1fr;
        grid-template-areas: "main";
    }
}
 
/* ------------------------------------------------------------------- */

#header>.float-content {
    position: relative;
    /* 아래 자식들이 float-content를 기준으로 하기 위해 여기에 relative 주기 */
}

.logo { /* logo는 section과는 다른 방에 있어서 헤더의 메뉴들과 다른 층을 쓰게 됨  */
    margin: 0;
    display: inline-block;
    position: absolute; /* 기본값: static - 이 때는 left, top이 의미 없음 */
                        /* absolute(문서 좌상단 기준) / relative(자신 기준) / fixed(화면 좌상단 기준) / sticky(부모 태그 기준) */
                        /* 부모나 조상에 relative가 없으면 문서 좌상단 기준 */
    left: 0px;
    top: 23px;
}

.main-menu {
    display: inline-block;
    
    font-family: "맑은 고딕", "고딕", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
   
    position: absolute; /* relative를 주게 되면 static 위치에서 left, t */
    left: 200px;
    top: 27px;
}

    .main-menu>ul {
        display: flex;
    }

        .main-menu>ul>li {
            padding-left: 24px;
            background: url(../images/bg-main-menu-vsp.png) no-repeat 12px center;
        }

        .main-menu>ul>li:first-child {
            padding-left: 0;
            background: none;
        }

        .main-menu>ul>li>a:hover {
            color: gold;
        }

.lecture-search-form {
    display: inline-block;
   
    width: 308px;
    height: 25px;
    border: 5px solid #8CBA34;
   
    position: absolute;
    left: 468px;
    top: 21px;
}

    .lecture-search-form fieldset {
        display: flex;
        border: 0px;
        padding: 0;
        margin: 0;
    }

    .lecture-search-form fieldset label { /* label: 인라인 태그(그런데 너비, 높이가 왜 적용됐을까?) */
                                          /* flex-item으로서 존재하기 때문에 너비, 높이를 가질 수 있음 */
        font-size: 11px;
        font-weight: bold;
        flex-basis: 55px; /* width: 55px; */ /* flex-item은 너비를 flex-basis로 주는 것이 좋다 */
        /* align-items: stretch; */ /* stretch가 기본, 부모의 높이가 그대로 반영됨 */
        text-align: center;
        line-height: 25px;
    }

    .lecture-search-form fieldset input[type=text]/*:nth-child(3)*/ {
        flex-grow: 1;
        border: 0;
        /* text-indent: 5px; */
        padding-left: 5px;
        font-size: 11px;
        font-weight: bold;
    }

    .lecture-search-form fieldset input[type=submit] {
        flex-basis: 31px;
        background: url(../images/btn-zoom.png) no-repeat center;
        border: 0px;
        border-left: 1px solid #8CBA34;
    }

.member-menu {
    font-family: "맑은 고딕", "고딕", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #979797;
    display: inline-block;
    position: absolute;
    /* left: 468px; */ /* html 컨텐츠가 바뀔 수 있으므로 left 값 사용 비권장 */
    right: 0px; /* 오른쪽 정렬 필요 */
    top: 20px;
}

    .member-menu>ul {
        display: flex;
    }

        .member-menu>ul>li {
            padding-left: 9px;
            background: url(../images/bg-member-menu-sp.png) no-repeat 4.5px center;
        }

        .member-menu>ul>li:first-child {
            padding-left: 0;
            background: none;
        }    

.customer-menu {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 40px;
}

    .customer-menu>ul {
            display: flex;
        }
        
        .customer-menu .mypage-button {
            background: url("../images/txt-mypage.png") no-repeat center; /* x, y 좌표 모두 center; */
            width: 72px; 
            height: 17px; 
        }
        
        .customer-menu .customer-button {     
            background: url("../images/txt-customer.png") no-repeat center;
            width: 72px; 
            height: 17px;
        }

.breadcrumb {
    font-family: "맑은 고딕", "고딕", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #979797;
    display: inline-block;
}

    .breadcrumb>ol {
        display: flex;
        list-style: none;
        padding-left: 0;
    }

        .breadcrumb>ol>li {
            padding-left: 10px;
            background: url(../images/icon-path.png) no-repeat 0px center;
        }

        .breadcrumb>ol>li:first-child {
            padding-left: 20px;
            background: url(../images/icon-home.png) no-repeat 0px center;
        }

#aside>h1 {
    font-family: "맑은 고딕", "고딕", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

    .aside-main-menu li {
        height: 26px;
        background: url(../images/bg-aside-menu-hsp.png) no-repeat center bottom;
    }

    .aside-main-menu a {
        font-family: "맑은 고딕", "고딕", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 11px;
        color: #808080;
        padding-left: 26px;
    }

    .aside-main-menu a:hover,
    .aside-main-menu a.current {
        background: url(../images/icon-current.png) no-repeat 13px center;
    }
    