html, body {
    height: 100%;
    margin:0;
}

/* --------------------------------------------------------------- */
.float-content {
    width:960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height:inherit;
    opacity: 0.7;    
    /* height: inherit; */
}

#root {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 250px 750px 1fr;
    grid-template-rows: 70px 171px 1fr 100px;
    grid-template-areas: 
    "header header header header"
    "visual visual visual visual"
    "body body body body"
    "footer footer footer footer";
}

#header {
    background-color: white;
    grid-area: header;
}

#visual {
    border-top:3px solid #8CBA34;
    background:#313131 url("../images/bg-visual.png") no-repeat center;
    grid-area: visual;
}

#body {
    border-top: 5px solid #8CBA34;
    margin-top: 1px;
    grid-area: body;

    display: grid; /* 해당 설정만 했을 때는 자동적으로 body가 네 개의 영역으로 나눠짐 */
    grid-template-columns: 1fr 250px 750px 1fr;
    grid-template-areas: ". aside main .";
}

#aside {
    background-color: blue;
    grid-area: aside;
}

#main {
    background-color: blueviolet;
    grid-area: main;
}

#footer {
    background-color: #313131;
    grid-area: footer;
}