
:root {
    --shadow: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
    /*---------------------------------------*/
    --text-color-basic: #464646 !important;
    --text-color-light: #E2E2E2 !important;
    --text-color-strong: #FD9F28 !important;
    --bg-color-light: #FFFEFD !important;
    --hover-color-bg: #EFF0F1;
    --border-color-light: #E4E6E8;
}

html, body {
    height: 100%;
}
a {
    color: var(--text-color-basic);
    text-decoration: initial;
    cursor: pointer;
}
ul, ol {
    list-style: none;
}
html, body, h1, ul, ol, th, td, fieldset, input {
    margin: 0;
    padding: 0;
}
body {
    font-family: "留묒�怨좊뵓";
    font-size: 14px;
    color: var(--text-color-basic);
    background-color: #FFFFFF;
}
input, textarea {
    font-family: "留묒�怨좊뵓";
}
button, select {
    font-size: 12px !important;
}
textarea {
    font-size: 14px !important;
}

/*---------------------------------------*/

.d-none{
    display: none !important;
}

/*---------------------------------------*/

.button-2, .button-5 {
    cursor: pointer;
    border: 1px solid var(--text-color-basic);
    border-radius: 3px;
    background-color: white;
    padding: 0;
    height: 20px;
    font-weight: 400;
}
.button-2 {
    width: 35px;
}
.button-5 {
    width: 65px;
}
button:hover {
    font-weight: bold;
}

/*---------------------------------------*/

.table {
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
.table .table-w50 {
    width: 50px;
}
.table .table-w100 {
    width: 100px;
}
.table th,
.table td {
    font-weight: 400;
    border-top: 1px solid var(--border-color-light);
    border-bottom: 1px solid var(--border-color-light);
}
.table th {
    background: var(--bg-color-light);
    font-size: 12px;
}
.table>thead>tr {
    height: 30px;
    line-height: 30px;
}
.table>tbody>tr {
    height: 40px;
    line-height: 40px;
}
.table>tbody>tr:hover {
    background-color: var(--hover-color-bg);
}

/*---------------------------------------*/
/*---------------------------------------*/

.flex {
    display: flex;
}
.align-center {
    align-items: center;
}

.float-content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: inherit;
}

#root {
    height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header" 
    "body body"
    "footer footer";
}
    #header {
        grid-area: header;
        width: 100%;
        height: 70px;
        position: fixed;
        background-color: white;
        overflow: hidden;
        display: flex;
    }
    #footer {
        grid-area: footer;
        background-color: #767676;
    }
    #footer .float-content {
        background-color: #767676;
    }
    #body {
        grid-area: body; 
    }
        #body .float-content {
            height: 100%;
            display: grid;  
            grid-template-columns: 200px 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
            "aside main";
        }
        #aside {
            grid-area: aside;
            border-right: solid var(--border-color-light) 1px;
            font-size: 16px; 
        }
        #main {  
            grid-area: main;
            padding: 20px;
            margin: 10px;  
        }

#header { 
    border-bottom: solid 2px orange;
    box-shadow: var(--shadow);
}

#header>.float-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-title-container {
    display: inline-block;
    width: 120px;
    height: 35px;
    min-height: inherit;
}
    .logo-title-container>img {
        width: 120px;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

.main-menu, .member-menu {
        font-size: 14px;
        font-weight: 500;
        width: 500px;  
        display: inline-block;
        height: 30px;
        padding-top: 12px;
}
    .main-menu>ul, .member-menu>ul { 
        height: 100%;
        width: 80%;
        --margin: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .main-menu>ul>li>a, .member-menu a {
        display: inline-block;
        color: #4B4B4B;   
        line-height: 30px;   
        cursor: pointer;
        transition: 200ms;
        padding: 0px 16px;
    }
    .main-menu>ul>li>a:hover {
        background-color: var(--hover-color-bg);
        color: black;
        border-radius: 15px;
    }
    .member-menu {
        width: 200px;
    }
    .member-menu a {
        padding: 0;
    }
    .member-menu a:hover {
        color: black;
    }

.aside-menu {
    margin-right: 0px;
    margin-top: 70px;
}
.aside-menu>ul {
    padding-top: 20px;
}
.aside-menu>ul>li {
    margin-bottom: 14px;
    margin-left: 5px;
    height: 33px;
}
.aside-menu a {
    color: #4B4B4B;
    font-weight: 500;
    line-height: 33px;
    display: flex;
    justify-content: flex-start; 
    transition: 200ms; 
    padding-left: 4px;
}
.current-page, .aside-menu a:hover {
    background-color: var(--hover-color-bg);
    border-right: 5px orange solid;
    border-radius: 3px;
}

/*---------------------------------------*/

@media screen and (max-width:500px){
    #root{
        grid-template-columns: 1fr;
        grid-template-rows: 55px 1fr 70px;
        grid-template-areas: 
        "header"
        
        "body"
        "footer";
    }
    #body .float-content{
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "aside"
        "main";
    }
    #root>#header{
        width: 100%;
        height: 55px;
        
    }
    .aside-menu{
        margin: 0;
    }
}

/*---------------------------------------*/
/*---------------------------------------*/

.notice-title-update {
    display: block;
    border: none;
    border-bottom: 1.5px solid var(--text-color-basic);
    width: 940px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#notice-article-update {
    display: block;
    border: none;
    width: 910px;
    height: 300px;
    padding: 15px;
    margin-top: 10px;
    background: var(--bg-color-light);
    resize: vertical;
}

#main .file-select {
    margin-top: 10px;
}

#main button[type="submit"] {
    display: block;
    margin: 10px auto 0 auto;
}

#main .file-name {
    margin-left: 10px;
}